<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @admin_booking %>

    <% if @admin_booking.status == "confirmed" %>
      <div class="mt-2 inline-block">
        <%= button_to "Cancel Booking", toggle_status_admin_booking_path(@admin_booking), method: :patch, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium", style: "display: inline-block;" %>
      </div>
    <% elsif @admin_booking.status == "cancelled" %>
      <div class="mt-2 inline-block">
        <%= button_to "Reconfirm Booking", toggle_status_admin_booking_path(@admin_booking), method: :patch, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium", style: "display: inline-block;" %>
      </div>
    <% end %>



    <div class="mt-2 inline-block ml-2">
      <%= button_to "Destroy this booking", admin_booking_path(@admin_booking), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium", style: "display: inline-block;" %>
    </div>
    <%= link_to "Back to bookings", admin_bookings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
