<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
    .email-container {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333333;
    }
    .email-content {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .email-header {
      background-color: #f0f0f0;
      padding: 10px;
      border-bottom: 1px solid #dddddd;
    }
    .email-body {
      padding: 20px;
    }
    .email-footer {
      background-color: #f0f0f0;
      padding: 10px;
      border-top: 1px solid #dddddd;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="email-content">
      <div class="email-header">
        <h2>Booking Confirmation</h2>
      </div>
      <div class="email-body">
        <div id="booking_<%= @booking.id %>" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Name:</strong>
            <%= "#{@booking.user.first_name} #{@booking.user.last_name}" if @booking.user %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Hotel:</strong>
            <%= @booking.hotel.name if @booking.hotel %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Start date:</strong>
            <%= @booking.start_date %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">End date:</strong>
            <%= @booking.end_date %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Room type:</strong>
            <%= @booking.room_type.titleize %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Status:</strong>
            <%= @booking.status.capitalize %>
          </p>

          <p class="my-5">
            <strong class="block text-gray-700 font-medium mb-1">Total Cost:</strong>
            <%= number_to_currency(@booking.total_cost) %>
          </p>
        </div>
      </div>
      <div class="email-footer">
        <p>Thank you for booking with us!</p>
      </div>
    </div>
  </div>
</body>
</html>
