<nav class="sticky top-0 w-full bg-blue-300 z-10 py-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-between">
        <div class="hidden sm:flex items-center justify-center">
          <div class="flex space-x-10">
            <% if logged_in? %>
              <%= link_to "Logout", logout_path, method: :delete, class: "text-gray-900 hover:underline py-2 rounded-md text-md font-medium", data: { confirm: "Are you sure?" } %>
            <% else %>
              <%= link_to 'Login', login_path, class: "text-gray-900 hover:underline py-2 rounded-md text-md font-medium" %>
            <% end %>
          </div>
        </div>
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: 'block lg:hidden h-20 w-auto' %>
          <% end %>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: 'hidden lg:block h-20 w-auto' %>
          <% end %>
        </div>
        <div class="hidden sm:flex sml:ml-6 items-center justify-center">
          <div class="flex space-x-10">
             <% if logged_in? %>
              <%= link_to "My Bookings", bookings_path, class: "text-gray-900 hover:underline py-2 rounded-md text-md font-medium" %>
            <% else %>
              <%= link_to 'Sign up', signup_path, class: "text-gray-900 hover:underline py-2 rounded-md text-md font-medium" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
