<%= form_with(model: [:admin, @admin_day_price_adjustment], class: "contents", multipart: true) do |form| %>

  <% if @admin_day_price_adjustment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@admin_day_price_adjustment.errors.count, "error") %> prohibited this admin_day_price_adjustment from being saved:</h2>

      <ul>
        <% @admin_day_price_adjustment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :day_of_week %>
    <%= form.text_field :day_of_week, value: @admin_day_price_adjustment.day_of_week.capitalize, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", readonly: true %>
  </div>

  <div class="my-5">
    <%= form.label :price_adjustment %>
    <%= form.number_field :price_adjustment, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline mt-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
