<div id="<%= dom_id hotel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hotel.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= hotel.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= hotel.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact details:</strong>
    <%= hotel.contact_details %>
  </p>

  <p class="my-5">
    <% if hotel.amenities.present? %>
  <h3 class="text-lg font-semibold mb-2">Amenities</h3>
  <ul class="text-gray-700">
    <% hotel.amenities.split(',').each do |amenity| %>
      <li><%= amenity.strip %></li>
    <% end %>
  </ul>
<% end %>

  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this hotel", [:admin, hotel], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this hotel", edit_admin_hotel_path(hotel), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

</div>
