<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @admin_hotel %>

    <div class="my-5">
      <strong class="block font-medium mb-1">Current Photos:</strong>
      
      <% if @admin_hotel.images.any? %>
        <div class="flex flex-wrap gap-4">
          <% @admin_hotel.images.each do |image| %>
            <%= image_tag image.variant(resize: "300x300"), class: "rounded-md border border-gray-300 shadow" %>
          <% end %>
        </div>
      <% else %>
        <p>No photos yet.</p>
      <% end %>
    </div>

    
    <div class="flex justify-between mt-4 my-5">
      <%= link_to "Back to hotels", admin_hotels_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      
      <div class="flex ml-4">
        <%= link_to "Edit this hotel", edit_admin_hotel_path(@admin_hotel), class: "mr-2 rounded-lg py-3 px-5 inline-block font-medium", style: "background-color: #3b606f; color: #e4ebe8;" %>

        <%= button_to "Delete this hotel", admin_hotel_path(@admin_hotel), method: :delete, class: "rounded-lg py-3 px-5 font-medium", style: "background-color: #e4ebe8; color: #3b606f;" %>

      </div>
    </div>
  </div>
</div>
