<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @admin_user %>

    <div class="flex justify-between mt-4 my-5">
      <%= link_to "Back to users", admin_users_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      
      <div class="flex ml-4">
        <% unless current_user.id != 1 %>
          <% if @admin_user.admin? %>
           <%= button_to "Remove admin privilege", toggle_admin_admin_user_path(@admin_user), method: :patch, class: "mr-2 rounded-lg py-3 px-5 inline-block font-medium", style: "background-color: #3b606f; color: #e4ebe8;" %>
          <% else %>
            <%= button_to "Give admin privilege", toggle_admin_admin_user_path(@admin_user), method: :patch, class: "mr-2 rounded-lg py-3 px-5 inline-block font-medium", style: "background-color: #3b606f; color: #e4ebe8;" %>
          <% end %>
        <% end %>
        <% unless @admin_user.admin? && current_user.id != 1 %>
          <%= button_to "Delete this user", admin_user_path(@admin_user), method: :delete, class: "rounded-lg py-3 px-5 font-medium", style: "background-color: #e4ebe8; color: #3b606f;" %>
         <% end %>
      </div>
    </div>


  </div>
</div>
